*{margin: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: 'Kurale';
  src: url(fonts/Kurale/Kurale-Regular.ttf)
  format('truetype');
}
body{
  background-image: url(img/background.jpg);
  
}
section{
  margin-bottom:40px;
  border: 4px solid rgb(243, 173, 67) ;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 5px  rgb(255, 60, 0), 15px 15px 10px  red;
  border-radius: 10px;
  background-color: rgba(7, 24, 18, 0.726);
}
.section__text{
  background-color: rgba(91, 109, 90, 0.603);
  box-shadow: inset 15px 15px 15px rgba(7, 24, 18, 0.726),
              inset -15px -15px 15px rgba(7, 24, 18, 0.726);
  border-radius: 10px;
  padding: 10px;
}
.section__link{
  text-decoration: none;
  color:orange; 
  border-radius: 3px;
  padding: 3px 5px;
  transition: 1s;
}
.section__link:hover{
  color: rgb(79, 121, 39);
  background-color: tan;
}
.container{
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

h1,h2,h3{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Kurale';
  color: rgb(93, 80, 161);
  font-size: 42px;
  margin: 30px;
  text-shadow: 2px 2px orange;
}


@keyframes bounce1{
  0%{
transform: translateY(-400px);
  }
  85%{
      transform: translateY(0px);
  }
  92%{
      transform: translateY(-30px);   
  }
  100%{
      transform: translateY(0px);
  }
}
 

p{
  margin: 0;
  padding: 30px;
  line-height: 32px;
  font-size: 24px;
  text-shadow: 0.5px 0.5px rgb(88, 84, 84),
  -0.5px -0.5px rgb(88, 84, 84),
  0.5px -0.5px rgb(88, 84, 84),
  -0.5px 0.5px rgb(145, 62, 62)
  ;
}

span{
  color: white;
}


.logo{
  height: 50px;
  width: 50px;
  margin-left: 15px;
  background-color: rgb(219, 89, 41);
  background-size: 90px 90px;
  border-radius: 50%;
}

.nav .navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  text-transform: uppercase;
 
}
.navbar-nav {
  width: 99%;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(56, 14, 14, 0.705);
  border-radius: 3px;
  padding: 10px;

}

.nav__link{
  padding: 3px;
  font-size: 16px;
  color: orange;
  margin-right: 10px;
  border-radius: 3px;
}
.nav__link:hover{
  background-color: tan;
}
.header{
  position: relative;
  background-image: url(img/header.jpg);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.header__img{
  position: absolute;
  top: 0;
  right: 0;
width: 100%;
height: 100%;
  background-color: rgba(129, 209, 209, 0.705);
}
.header__text{
  position: absolute;
  top: 30%;
  right: 10%;
  background-color: rgba(4, 11, 36, 0.658);
  color: rgb(97, 2, 2);
  z-index: 990;
  animation-name:bounce1;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  font-size: 50px;
  box-shadow: inset -15px -15px 30px black,
              inset 15px 15px 30px black,
                    15px 15px 20px black;
  border-radius: 5px;
  width: 45%;
}
.start{
  background-image: url(img/question.jpg);
  background-size: cover;
  background-attachment: fixed;
  
}
.start__content{
  display: flex;
  justify-content: space-between;
}


.start__text{ 
  animation-name:fadeInLeftBig;
  animation-duration: 1s;
  width: 100%;  
}
.frontend{
  overflow: hidden;
}
.icon{
  height: 50px;
  width: 50px;
}
.frontend__header{

}
.frontend__content{
  display: flex;
  justify-content: space-between;
}

.frontend__text{
  animation-name:fadeInDownBig;
  animation-duration: 1s;  
}

.backend__text{
  animation-name:fadeInUpBig;
  animation-duration: 1s;
}
.english{
  background-image: url(img/english.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px;
}
.english__text{

}
.it__text{


}
.shools{
  

}
.list__of__schools{
  list-style: none;
}
.schools__link{
    font-size: 30px;
    font-family: 'Kurale';
  }
  .schools__name__link{
    white-space: nowrap;
  }
  .schools__link:hover .maps{
      opacity: 1;
  }
  .schools__link:hover .address{
    opacity: 1;
}

.schools__link:last-of-type{

}

/* Элемент label который запускает открыть/закрыть. */

.modal__trigger {
  padding: 25px;
  font-weight: bold;
  background-color: rgb(131, 51, 51);
  border-radius: 10px;
  border: 1px solid #333;
  cursor: pointer;
  box-shadow: inset 15px 15px 15px rgba(7, 24, 18, 0.726),
              inset -15px -15px 15px rgba(7, 24, 18, 0.726);
  display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* меняем цвет фона у активного переключателя */

.modal__toggle:checked~.modal__trigger {
  background-color: #c99e6183;
}

.modal__toggle {
  width: 100%;
  display: none;
}

/* скрытое содержание аккордеона. */
.modal__target {
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  transition: opacity ease .9s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* когда переключатель checked на radio/checkbox, показать содержимое аккордеона. */
.modal__toggle:checked~.modal__target {
  position: static;
  overflow: visible;
  margin: 10px 0;
  padding: 15px 10px;
  width: 100%;
  height: auto;
  border-radius: 25px;
  opacity: 1;
}



.yandex__img{
  width: 47%;
  border-radius: 10px;
}
.it .yandex__maps{
  border-radius: 10px;
}

  .maps{
    height: 70px;
    width: 70px;
    opacity: 0;
    transition: 1s;
  }
  .address{
    opacity: 0;
    transition: 1s;
  }

.youtube__content{

}
.youtube__link{
  padding: 3px;
  border-radius: 3px;
}
.youtube__link:hover{
  background-color: rgba(210, 180, 140, 0.637);

}
.list__of__youtube{
  font-family: 'Kurale';
}
dt{
  margin-left: 30px;
  font-size: 24px;
  color: bisque;
}
dd {
  margin-left: 60px; 
}
.list__of__youtube .youtube__link{
  font-size: 24px;
  color: brown;
}

.footer__text{
  margin: 5px 30px;
  padding: 0;
}

@media (min-width:1200px){
  .header__text{
    width: 35%;
  }

}
@media (max-width:992px){
.header__text{
  width: 60%;
}
  
}
@media (max-width:768px){
  .frontend__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__text{
    width: 80%;
    left: 2%;
  }
  .yandex__img{
    width: 97%;
    border-radius: 10px;
  }
  .address{
    display: none;
  }

}