.background{
   background: url(background.jpg);
}
body{
   font-size: 8px;
   font-family: 'Times New Roman';
}
h1{
   background: chocolate;
   text-align: center;
   font-size: 16px;
   text-transform: uppercase;
   font-family: Tahoma;
}
.jump{
   color: blue;
}
.first__lorem{
   text-transform: capitalize;
   font-size: 10px;
   line-height: 1.5;
   text-indent: 30px;
}
.lorem__two{
   text-transform: lowercase;
   
   line-height: 1;
   color: red;
   font-style: italic;
   text-align: right;
}
.table1{
   border: 3px solid blue;
   text-align: center;
   width: 100%;
}
.first__string__table1{
   line-height: 1.5;
   font-weight: bold;
}
.two__string__table1{
   font-style: italic;
}
.tree__string__table1{
   width: 20%;
}
.table2{
   table-layout: fixed;
   border: 3px solid none;
   text-align: center;
   width: 100%;
}
.table2 th{
   text-decoration: underline;
}
.list{
   
   list-style-position: inside;
   
}
.str1{
    
   text-decoration: none;
   color: brown; 
   
}
.str2{
   color: red;
}
.str3{
   color: green;
   font-size: 70%;
}
.str4{
   color: orange;
   font-style: italic;;
}
.table3{
   margin: auto ;
   table-layout: fixed;
   border: 3px dotted red;
   text-align: left;
   width: 80%;
   border-collapse: collapse;
   line-height: 2;
}
.table3 caption{
      text-align: center;
      text-decoration: underline;
      padding: 10px;
      font-weight: bold;
      font-size: 12px;
      
      
   
}
.table3 tr td{
   border: 1px dashed green;

}
.table3__str1{
   background-color: black;
   color: white;
}
.all{
   background-color: darkkhaki;
   color: red;
   padding-left: 10%;
   padding-top: 1.5pc;
padding-bottom: 1.5pc;
}