.body{
    background-image: url(background.jpg)
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
.h1{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: overline;
    text-decoration: underline green;
}
.text{
    color: green;
    text-decoration: underline green;
}
.text__line{
    text-transform: uppercase;
    color: red;
    
}
.top__block{
    margin-top: 30px;
    background-color:chartreuse;
    padding: 25px 0  10px 0;

}
.top1{
    margin: 0 25px 25px 200px;
    width: 100px;
    height: 100px;
    background-color: rgb(11, 48, 126);

}
.top2{
    margin: 25px 25px 25px 210px;
    width: 100px;
    height: 100px;
    background-color: rgb(83, 11, 112);

}
.top3{
    margin: 50px 25px 20px 300px ;
    width: 100px;
    height: 100px;
    background-color: brown;

}
.center__block{
    padding: 15px 0  30px 0;
    background-color:red;

}
.center1{
    margin: 25px 25px 25px 270px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 10px;

}
.bot__block{
    background-color: black;

}
.h2{
    color: rgb(245, 245, 248);
    text-align: center
}
