*{
    margin:0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    
 }
 .container{
    font-family: Arial;
    width: 1000px;
    margin: 0 auto;
    
   
}.nav{
    display: flex;
    justify-content: space-between;
 }
 .name{
    font-size: 20px;
    font-weight: 500;
 }
 .link__nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
 }
 .link{
    text-decoration: none;
    color: black;
 }
.header{
    background: url(bg.png);
    padding: 50px 0px 50px;
    color: white;
}
.header__name{
    margin-bottom: 30px;
    font-weight: 800;
}
.content{
    padding: 20px 0px 30px;
}
.content__header{
    font-size: 20px;
    font-weight: 500;

}
.more{
    width: 70%;
    margin: auto;
}
.flex__cont{
    display: flex;
    justify-content: space-between;
}
.lesson{
    width: 30%;
    border: 2px solid coral;
    padding: 20px;
}
.lesson__name{
    font-size: 20px;
    font-weight: 500;
}
.cellar{
    background: url(bg.png);
    padding: 50px 0px 50px;
    color: white;
}